/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    background-color: black;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    text-align: center;
}

/* Header Styles */
.main-header {
    background-color: transparent;
    padding: 0;
    border: 5px solid red;
    border-radius: 0;
    margin: 0 auto;
    max-width: 100%;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    text-align: center;
}

nav h2 {
    display: inline-block;
    margin-bottom: 0;
}

nav a {
    text-decoration: underline;
    color: yellow;
}

nav a:hover {
    color: blue;
}


platforms {
    display: inline-block;
    margin-bottom: 0;
}

platforms {
    text-decoration: underline;
    color: yellow;
}

/* Warning Section Styles */
.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Logo Styles */
img {
    max-width: 200px; /* Set a maximum width for the logo */
    width: 100%; /* Make it responsive */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 20px auto; /* Center the logo and add some space */
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-header h1 {
        font-size: 24px; /* Smaller font size for mobile */
    }

    nav {
        flex-direction: column; /* Stack nav items vertically on small screens */
        gap: 10px; /* Reduce gap between nav items */
    }

    .video {
        width: 100%; /* Full width on mobile */
        height: auto;
    }

    section {
        margin-bottom: 20px; /* Reduce margin for smaller screens */
    }
}

.art-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px; /* Adjust the gap between items as needed */
    padding: 0px;
}
