body {
    background-color: black;
    color: red;
    font-family: 'Courier New', Courier, monospace; /* Optional: You can customize the font */
    margin: 10;
    padding-top: 20px;
}

.video {
  margin-bottom: 20px; /* Adds 20px of space after each video */
}

nav {
    display: flex; /* Use flexbox to display links in a row */
    justify-content: flex-start; /* Align the items to the left */
    gap: 30px; /* Adds space between the links */
}

nav h2 {
    margin: 0; /* Remove the default margin from h2 */
}

nav a {
    text-decoration: underline; /* Remove underline */
    color: yellow; /* Customize link color */
}

nav a:hover {
    color: blue; /* Change color when hovered */
}


